@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ul {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #fdadbe;
}

li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav-bar li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-bar li a {
    transition: all 0.3s ease 0s;
}

.nav-bar li a:hover {
    color: #666666;
} 