@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
@import url('http://fonts.cdnfonts.com/css/sf-mono');
@import url('http://fonts.cdnfonts.com/css/vcr-osd-mono');

.page {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: 'SF Mono';
}

.card-container {
  border: 10px solid red;
}

.card-row {
  border: 10px solid blue;
}

.card-image {
  width: 128px;
  height: 128px;
}


@media screen and (min-width: 200px) {
  .page {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
}