:root {
  --primary-color: #fdadbe;
  --primary-higher: #f87591;
  --secondary-color: #221c24;
}

.text-fdadbe {
  color: #fdadbe;
}

.text-fdadbe:hover {
  color: white;
}

.spacer-70 {
  margin-bottom: 70px;
}

* {
  background-color: var(--secondary-color);
}

.page-content {
  color: white;
  height: 100vh;
}

/* ./pages/index.tsx css */
.h2-center {
  text-align: center;
  margin-top: 8rem;
  font-family: "Martian Mono", monospace;
}

.h2-center button {
  display: block !important;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.h2-center button > a {
  text-decoration: none;
  color: white;
}

.h2-center > h2 {
  font-size: 50px;
}

.glow-button {
  width: 130px;
  height: 52px;
  padding: 10px 25px;
  border: 2px solid #f87591;
  color: white;
  border-radius: 0.7rem;
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.glow-button:hover {
  transition: all 0.3s ease;
  box-shadow: -3px -3px 20px 0px #f87591, 0px 0px 3px 3px #f87591,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
}

/* end ./pages/index.tsx css */

/* navigation.module.css */
.nav-root {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

.left-nav {
  display: flex;
  margin: 5px;
}

.navbar-nav {
  margin: 2rem;
  font-family: "Roboto Mono" monospace;
}

.icon-svg {
  fill: white;
  /* tatp has a dirty mind */
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* separator-svg  */
.separator-svg {
  display: flex;
  justify-content: center;
}

/* ./pages/bowl */
.table-lead {
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  border-collapse: collapse;
  width: 100%;
  align-items: center;
}

.table-lead td,
.table-lead th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}
