@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-mono");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #28282b;
  font-family: "VCR OSD Mono" sans-serif;
}

.nav-li,
.nav-a,
.nav-button {
  font-family: "VCR OSD Mono", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  border: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
}

.nav-logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links .nav-li {
  padding: 0px 12px;
}

.nav-links .nav-li .nav-a {
  transition: all 0.4s ease 0s;
}

.nav-links .nav-li .nav-a:hover {
  color: #fdadbe;
}

.nav-button {
  --green: #fdadbe;
  font-size: inherit;
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.06em;
  position: relative;
  font-family: "VCR OSD Mono" sans-serif;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(253, 173, 190, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.nav-button:hover {
  color: #fdadbe;
  box-shadow: inset 0 0 10px rgba(253, 173, 190, 0.6),
    0 0 9px 3px rgba(253, 173, 190, 0.2);
}

.nav-button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

@media screen and (max-width: 800px) {
  .nav-header {
    display: table;
    width: 100%;
    text-align: center;
    transition: 0.2s ease 0;
    margin: auto;
  }

  .nav-button {
    margin: 10px;
  }
}

/* add a smooth slide effect on click from nav */

.about-li {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 5px;
}

.page-footer {
  font-family: "Roboto", sans-serif;
  padding: 1rem;
  position: relative;
  bottom: 0;
  height: 2.5rem;
  text-align: left;
}

.footer-links {
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  font-family: "Comic Sans MS", sans-serif;
  list-style: none;
  line-height: 1.5rem;
}

.footer-container {
}
