.navroot {
  color: white !important;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  padding: 2rem;
}

.navroot > .iconsvg {
  fill: white;
  /* tatp has a dirty mind */
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}

.brand {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.brand:hover {
  color: white;
  text-decoration: none;
}

.buttonlinks {
  border-color: var(--primary-higher);
  color: var(--primary-higher);
}

.buttonlinks:hover {
  color: white;
  background-color: var(--primary-higher);
}

.dropdown-stuff {
  color: white;
}
